<!-- The Top Bar -->

<header id="topbar-wrapper" aria-label="Top Bar">
  <div
    id="topbar"
    class="d-flex align-items-center justify-content-between px-lg-3 h-100"
  >
    <nav id="breadcrumb" aria-label="Breadcrumb">
      <!-- 
        home: 홈
        그 외: 홈 > ..
      -->
      {% if page.layout == 'home' %}
        <span>{{ site.data.locales[include.lang].tabs.home | capitalize }}</span>
      {% else %}
        <span>
          <a href="{{ '/' | relative_url }}">
            {{- site.data.locales[include.lang].tabs.home | capitalize -}}
          </a>
        </span>
      {% endif %}

      <!-- 
        post: .. > 카테고리 > page.categories[0] > page.categories[1] > ..
        categories: .. > 카테고리 > category // 카테고리 계층 어떻게?
        tags: .. > 태그 > tag
      -->
      {% assign paths = page.url | split: '/' %}
      {% assign tab = paths[1] %}
      {% if page.layout == 'post' %}
        <span>
          <a href="{{ site.baseurl }}/categories/">
            {{- site.data.locales[include.lang].tabs["categories"] | default: page.title -}}
          </a>
        </span>
        {% for category in page.categories %}
          <span>
            <a href="{{ site.baseurl }}/categories/{{ category | slugify | url_encode }}/">
              {{ category }}
            </a>
          </span>
        {% endfor %}
      {% elsif page.layout == 'category' %}
        <span>
          <a href="{{ site.baseurl }}/{{ tab }}/">
            {{- site.data.locales[include.lang].tabs[tab] | default: page.title -}}
          </a>
        </span>

        {% assign first_post = page.posts | first %}
        {% assign main_category = first_post.categories[0] %}
        {% if main_category != page.title %}
          <span>
            <a href="{{ site.baseurl }}/categories/{{ main_category }}/">
              {{ main_category }}
            </a>
          </span>
        {% endif %}
        
      {% elsif page.layout == 'tag' %}
        <span>
          <a href="{{ site.baseurl }}/{{ tab }}/">
            {{- site.data.locales[include.lang].tabs[tab] | default: page.title -}}
          </a>
        </span>
      {% endif %}

      <!-- 탭 이름 혹은 페이지 제목 -->
      {% assign page_title_downcase = page.title | downcase %}
      <span>{{- site.data.locales[include.lang].tabs[page_title_downcase] | default: page.title -}}</span>
    </nav>
    <!-- endof #breadcrumb -->

    <button type="button" id="sidebar-trigger" class="btn btn-link">
      <i class="fas fa-bars fa-fw"></i>
    </button>

    <div id="topbar-title">
      {% if page.layout == 'home' %}
        {{- site.data.locales[include.lang].title | default: site.title -}}
      {% elsif page.collection == 'tabs' or page.layout == 'page' %}
        {%- capture tab_key -%}{{ page.url | split: '/' }}{%- endcapture -%}
        {{- site.data.locales[include.lang].tabs[tab_key] | default: page.title -}}
      {% else %}
        {{- site.data.locales[include.lang].layout[page.layout] | default: page.layout | capitalize -}}
      {% endif %}
    </div>

    <button type="button" id="search-trigger" class="btn btn-link">
      <i class="fas fa-search fa-fw"></i>
    </button>

    <search class="align-items-center ms-3 ms-lg-0">
      <i class="fas fa-search fa-fw"></i>
      <input
        class="form-control"
        id="search-input"
        type="search"
        aria-label="search"
        autocomplete="off"
        placeholder="{{ site.data.locales[include.lang].search.hint | capitalize }}..."
      >
    </search>
    <button type="button" class="btn btn-link text-decoration-none" id="search-cancel">
      {{- site.data.locales[include.lang].search.cancel -}}
    </button>
  </div>
</header>
